# sheetmusic

My collection of public sheet music 🎵

## 📕 PDF

PDFs are available at [pdf](./pdf) directory.

Download
{{ range .PDFs }}
* [{{ .Name }}]({{ .DownloadURL }})
{{ end -}}


## 🎼 Note files

Musescore `.mscz` files are located in [musescore](./musescore) directory.
Download [Musescore](https://musescore.com/dashboard) to edit.
